.wrap1 {
    background-position: center;
    width: 400%;
    height: 100%;
}

.carousel {
    text-align: center;
    background-position: center ;
    left: 25%;
    width: 700px;
    height: 500px;  
}